node_modules
dist
build
*.tsbuildinfo
*.d.ts.map
.env
.env.local
.DS_Store
coverage
*.log
tmp
var
apps/*/var
.vite
.turbo
packages/**/src/**/*.js
packages/**/src/**/*.js.map
packages/**/src/**/*.d.ts
